<template id="header-template">
<header>
    <h1 class="site-title"><a href="../index.html">IFMedical</a></h1>
    <nav>
      <a href="pages/about.html">About Us</a>
      <a href="pages/mcat.html">MCAT Resources</a>
      <a href="pages/usa.html">USA Hub</a>
      <a href="pages/get-involved.html">Get Involved</a>
      <a href="pages/blog.html">Blog</a>
      <a href="pages/repository.html">Repository Hub</a>
      <a href="pages/contact.html">Contact Us</a>
      <a href="pages/help.html">Help</a>
      <a href="pages/privacy.html">Legal / Privacy</a>
      <a href="pages/login.html">Login</a>
    </nav>
</header>
</template>